* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
  }

  @font-face {
    font-family: 'avenir_book';
    src: url(fonts/avenirltstd-book-webfont.woff) format('woff');
}
@font-face {
    font-family: 'avenir_black';
    src: url(fonts/avenirltstd-black-webfont.woff) format('woff');
}
@font-face {
    font-family: 'avenir_roman';
    src: url(fonts/avenirltstd-roman-webfont.woff) format('woff');
}

 ul {
     list-style: none;
 }

 a {
     text-decoration: none;
 }
  
  .mainContainer {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 8% 70%;
  grid-template-areas: 
        "sideBar header" 
         "sideBar mainContent"
         "sideBar sheet0"
         "sideBar footer";
  }
  
  .sideBar {
    grid-area: sideBar;
    background-color: #222222;
    color: #ffffff;

  }
  
  header {
    grid-area: header;
    margin: 30px 30px 0px;
    border-bottom: 1px solid #F2F2F2;
  }



  .footer {
      grid-area: footer;
  }

  .sideLogos {
      padding: 20px;
      display: flex;
      justify-content: space-between;
  }

  .mainNav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.mainNav .searchbarContainer {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
      
}

.searchform {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  
  .submitButton[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: url(images/Component\ 9\ –\ 4.svg) no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
 .submitButton[type="submit"]:hover {
    opacity: 1;
  }
  
  
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #FF2288;
    border-color: #FF2288;
    outline: none;
  }

.mainNav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
  }

  .mainNav .searchbarContainer button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #F8F8F8;
    font-size: 17px;
    cursor: pointer;
  }


  .mainNav .searchbarContainer button:hover {
    background: #F8F8F8;
  }

  /* .mainNav a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } */

  .rightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  .rightContainer img {
    padding-right: 35px;
  }

  .rightContainer p {
    color: #FF2288;
    margin-right: 35px;
    font-family: "avenir_book";
  }

  .goPro {
     color: #ff2288;
     font-size: 14px;
     margin-right: 35px;
  }

  .button {
    border: none;
    border-radius: 12px;
    background-color: #FF2288;
    width: 129px;
    height: 56px;
    color: #FFFFFF;
    cursor: pointer;
}
 

  
  .mainContent {
  margin: auto 0;
  grid-area: mainContent;
  overflow: hidden;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  }

  .cardsMenu{
    grid-area: cardsMenu;
    max-width: 1231px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.menuUl{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.menuUl ul{
    display: flex;
}

.menuUl li{
    padding: 15px;
}

.menuUl a{
    color: #222222;
}

.menuUlub li:hover{
    width: auto;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 12px;
}

.filter-button{
    width: 132px;
    height: 56px;
    background-color: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 12px;
}

.filter-img{
    width: 24px;
    height: 24px;
}

.filter-button > img,
.filter-button > span{
    vertical-align: middle;
}

.filter-button span{
    padding-left: 15px;
}

.offersWrapper {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.offersWrapper img{
    width: 289px;
    height: 210px;
    border-radius: 12px;
}

.offers {
    position: relative;
}

.cards {
    position: relative;
}

.icon{
    position: absolute;
    top: 30px;
    left: 30px;
    display: none;
}

.icon-2{
    position: absolute;
    top: 60px;
    left: 30px;
    display: none;
}

.icon img{
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

.icon-2 img{
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

.cards:hover .icon{
    display: block;
}

.cards:hover .icon-2{
    display: block;
}

.load{
    display: flex;
    justify-content: center;
}

.more-button{
    width: 289px;
    height: 56px;
    border: 1px solid #F2F2F2;
    border-radius: 12px;
    margin-top: 70px;
    cursor: pointer;
}

.top-designers{
    margin: auto 0;
    grid-area: top-designers;
    display: flex;
    flex-direction: column;
}

.designer-title{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} 

.designer-title h2{
    font-family: "avenir_book";
    padding-left: 54px;
    margin-bottom: 54px;
}

.designer-title a{
    padding-right: 54px;
    color: #222222;
}

.designer-title a:hover{
    text-decoration: underline;
}

.designers{
    margin: auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.designersSec {
    padding: 25px;

}

.designers h5, h6{
    font-family: "avenir_book";
    padding-top: 10px;
}

.designers h6{
    font-family: "avenir_book";
    padding-bottom: 17px;
    opacity: 0.6;
}

.designers button{
    width: 132px;
    height: 44px;
    border: 1px solid #D8D8D8;
    border-radius: 12px;
    cursor: pointer;
}


.navContainer {
    margin-top: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.navContainer li {
    display: flex;
    align-items: center;
    font-family: "avenir_book";
    padding-bottom: 21px;
}

.navContainer img {
    width: 24px;
}

.navContainer a {
    color: #FFFFFF;
    padding: 16px 24px;
    
}

.navContainer a:hover {
    background-color: #FF2288;
    border-radius: 12px;
}

.followingWrapper {
    margin-top: 89px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followingWrapper h4 {
    font-family: "avenir_book";
    padding-bottom: 31px;
    color: #FFFFFF;
    text-align: left;
    font-size: 12px;
    padding-left: 24px;
}

.followingWrapper li {
    font-family: "avenir_book";
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 15px;
    padding-left: 24px;
}

.followingWrapper li a {
    padding-left: 21px;
    text-align: left;
    color: #FFFFFF;
    font-size: 16px;
}

.followingWrapper p a {
    font-family: "avenir_book";
    padding-top: 19px;
    padding-left: 24px;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
}

.cardsWrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.cards {
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.cards p {
    font-size: 12px;
    font-family: "avenir_book";
}

.cards img {
    width: 100%;
    object-fit: cover;
}

/* .cardsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
} */


.footContainer-1 {
   display: flex;
   flex-direction: row;
   justify-content: center;
  
}

.footContainer-1 ul {
    margin: 0 auto;
    
}

.footContainer-1 ul h5 {
    text-align: left;
    font-size: 16px;
}

.footContainer-1 ul li {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
}

.socialContainer {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}



/* second page starts here */

.sheet0 {
    grid-area: sheet0;
    max-width: 1231px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 130px;
  }

  table {
    width: 90%;
    height: 100vh;
    margin-left: auto 0;
  }

 

  tr,thead {
    text-align: left;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(even):hover {
    background-color: #f2f2f2;
    color: #222222;
}

tr:nth-child(odd):hover {
    background-color: #f2f2f2;
    color: #222222;
}

tr:nth-child(8) {
    color: #ff2288;
}

/* second page ends here */

/* Mobile versions starts here */

@media (max-width: 860px) {

.mainContainer {
    display: grid;
    margin: auto 0;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    'sideBar header'
    'sideBar mainContent'
    'sideBar footer';
}

.mainNav {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainNav .button {
    display: none;
}

.top-designers {
    display: none;
}

.menuUl ul {
    display: none;
}


}

@media (max-width: 420px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
    }

    .sideBar {
        display: none;
    }

    .mainNav {
        margin: auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mainNav .button {
        display: none;
    }
    
    .top-designers {
        display: none;
    }
    
    .menuUl ul {
        display: none;
    }

    .cardsWrapper {
        display: flex;
        flex-direction: column;
    }

    .cards {
        width: 80%;
    }

    .footContainer-1 {
        display: none;
    }

    .socialContainer {
        margin-top: 20px;
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .social-Icons {
        margin-right: 20px;
    }

    .menuUl {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    tr {
         display: flex;
         flex-direction: row;      
        }

        td {
            padding: 20px;
        } 
        
        thead {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        th {
           padding: 20px;
        }
     
 }

/* Mobile versions ends here */



 